/* =============================== Navbar ================================ */

.header-in .navbar-in nav{
    background-color: white !important;
    padding: 10px 25px;
}

.navbar-brand img{
    height: 50px;
}

.search{
    width: 50%;
    margin: 0 auto;
    padding-top: 25vh;
}

a.nav-link {
    color: black;
    font-family: 'Raleway';
}

/* ================================= Home Page Search =================================== */

.header-out{
    background-image: linear-gradient(0deg, rgba(0, 0, 50, 0.4), rgba(0, 0, 50, 0.4)), url("/assets/Taj-Mahal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 100%;
}

.hdng1{
    padding-bottom: 30px;
}

.home-search{
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.home-search:focus{
    outline: none;
}

.hdng1{
    text-align: center;
    color: white;
    font-family: 'Arimo', sans-serif;
    padding-top: 43vh;
}

.search-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border: none;
    border-radius:100px ;
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

.search-input input{
    border: 0;
    width: 100%;
}

.search-input input::placeholder{
    font-family: 'Raleway';
}

/* ============================== Fillers between sections ============================= */

h5#scroll-bar-title{
    text-align: center;
    font-family: 'Raleway';
    padding-top: 15px;
}

.symbol{
    text-align: center;
    padding-bottom: 10px;
}

/* =================================== Categories =================================== */

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories-card{
    width: 230px;
    margin: 20px;
    transition: transform 0.5s;
    border-radius: 5px;
    overflow: hidden;
}

.categories-card:hover{
    transform: scale(1.2);
}

.card-title1{
    font-size: small;
    font-family: 'Raleway';
}

.categories img.card-img-top{
    height: 150px;
}

/* ============================= Section Cards ================================== */

.card{
    width: 45%;
    margin: 15px;
    border-radius: none;
}

.tourists-attraction{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ======================= footer discover div ======================== */

.header-out2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/bigstock-China-The-Great-Wall.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 100%;
}

.input-group{
    justify-content: center;
}

.ftr-content{
    
    width: 100%;
    margin: 0 auto;
    padding-top: 10vh;
}

iframe.yt{
    border-radius: 10px !important;
}


/* =========================== footer offer div =========================== */

.hdng2{
    text-align: center;
    color: white;
    font-family: 'Arimo', sans-serif;
}

.search-bar2.header-out{
    width: 100%;
    margin: 0 auto;
    padding-top: 42vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 50, 0.4), rgba(0, 0, 50, 0.4)), url(/assets/chichen.png);
}

.offer-search{
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.subs{
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: black;
    background-color: white;
    padding: 13px 25px;
}

.search-input2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius:100px ;
    width: 50%;
    margin: 0 auto;
}

.search-input2 input{
    width: 100%;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 20px;
    opacity: 0.5;
}

.search-input2 input::placeholder{
    font-family: 'Raleway';
    color: black;
    padding-left: 10px;
}


/* ============================= footer map div ======================== */

.map{
    width: 100%;
}

/* ============================= main footer div ============================ */

.main-foot{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.links{
    color: white;
}

.address{
    color: white;
}

.btn.btn-secondary.dropdown-toggle{
    padding: 5px;
}


.links{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 50px;
}

.address{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 50px;
}

.dropdown{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.end-foot{
    display: flex;
    border-top: 0.1px solid white;
    background-color: black;
    color: white;
    justify-content: center;
}

.foot{
    font-family: 'Raleway';
    margin: 10px;
}

ul{
  list-style: none;  
}

li{
    padding-bottom: 10px;
}


/* ============================================================================================== */
/* ======================================= page 2 =============================================== */

/* ==================================== page 2 Homepage ======================================= */

.details-page{
    position: relative;
}

.details-page-image{
    position: relative;
    width: 100%;
    z-index: 1;
}

/* ==================================== page 2 details div ======================================= */

.detail-info{
    padding: 20px 100px;
}

.layover{
    position: absolute;
    /* background-color: brown; */
    z-index: 2;
    bottom: 0;
    right: 0;
    padding: 0px 50px 70px 0px;
    display: flex;
    align-items: baseline;
}

.layover img {
    margin: 10px;
}