.header-out{
    background-image: linear-gradient(0deg, rgba(0, 0, 50, 0.4), rgba(0, 0, 50, 0.4)), url("/assets/Taj-Mahal.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
    opacity: 100%;
}
.header-in .navbar-in nav{
    background-color: white !important;
    padding: 10px 25px;
}

.navbar-brand img{
    height: 50px;
}

.search{
    /* padding: 28% 0% 0% 36%; */    
    width: 50%;
    margin: 0 auto;
    padding-top: 43vh;
}

.hdng{
    text-align: center;
}

a.nav-link {
    color: black;
    font-family: 'Raleway';
}

h2{
    font-family: 'Monaco';
    color: white;
    padding-bottom: 30px;
}

.bar{
    padding-left: 9%;
}

/* .srch{
    border: none;
    border-radius: 5px;
    padding: 10px;
} */

input{
    border: none;
    border-radius: 5px;
    padding: 10px;
}

input.in{
    font-family: 'Raleway';
}

.md{
    position:absolute;
    left:50%;
    bottom:0px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

input.form-control{
    border-radius: 20px;
}

.input-group-append button.btn{
    background-color: rgb(46, 176, 176);
    border: none;
}

.sb{
    border: none;
    /* background: none;     */
    border-top-right-radius: 50%;
}

h5#scroll-bar-title{
    text-align: center;
    font-family: 'Raleway';
    padding-top: 30px;
}

.symbol{
    text-align: center;
    padding-bottom: 10px;
}

.card{
    width: 45%;
    margin: 20px;
}

.cards-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-out2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/Taj-Mahal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 100%;
}

.hdng{
    color: white;
    font-family: 'Raleway';
}

.vdo{
    width: 50%;
    
}

.input-group{
    justify-content: center;
}

.ftr-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 25vh;
}