.header-out{
    background-image: linear-gradient(0deg, rgba(0, 0, 50, 0.4), rgba(0, 0, 50, 0.4)), url("/assets/Taj-Mahal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 100%;
}
 
.header-in .navbar-in nav{
    background-color: white !important;
    padding: 10px 25px;
}

.navbar-brand img{
    height: 50px;
}

.search{
    width: 50%;
    margin: 0 auto;
    padding-top: 25vh;
}

.hdng{
    text-align: center;
}

a.nav-link {
    color: black;
    font-family: 'Raleway';
}

h2{
    font-family: 'Monaco';
    color: white;
    padding-bottom: 30px;
}

.bar{
    padding-left: 9%;
}

input{
    border: none;
    border-radius: 5px;
    padding: 10px;
}

input.in{
    font-family: 'Raleway';
}

.md{
    position:absolute;
    left:50%;
    bottom:0px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

input.form-control{
    border-radius: 20px;
}

.input-group-append button.btn{
    background-color: rgb(46, 176, 176);
    border: none;
}

.sb{
    border: none;

    border-top-right-radius: 50%;
}

h5#scroll-bar-title{
    text-align: center;
    font-family: 'Raleway';
    padding-top: 15px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories-card{
    width: 230px;
    margin: 20px;
    transition: transform 0.5s;
    border-radius: 5px;
    overflow: hidden;
}

.categories-card:hover{
    transform: scale(1.2);
}

.card-title1{
    font-size: small;
    font-family: 'Raleway';
}

.symbol{
    text-align: center;
    padding-bottom: 10px;
}

.card{
    width: 45%;
    margin: 15px;
    border-radius: none;
}

.tourists-attraction{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-out2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/bigstock-China-The-Great-Wall.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 100%;
}

.hdng{
    color: white;
    font-family: 'Arimo', sans-serif;
}

.vdo{
    width: 50%;
    
}

.input-group{
    justify-content: center;
}

.ftr-content{
    
    width: 100%;
    margin: 0 auto;
    padding-top: 10vh;
}

.search-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border: none;
    border-radius:100px ;
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

input:focus{
    outline: none;
}

.search-bar{
    width: 100%;
    margin: 0 auto;
    padding-top: 42vh;
}

.search-input input{
    border: 0;
    width: 100%;
}
.search-input img{
    width: 25px;
}

.search-input input::placeholder{
    font-family: 'Raleway';
}
br{
    font-size: 10%;
}
iframe.yt{
    border-radius: 10px !important;
}

.subs{
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: black;
    background-color: white;
    padding: 13px 25px;
}

.search-input2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius:100px ;
    width: 50%;
    margin: 0 auto;
}

.search-input2 input{
    width: 100%;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 20px;
    opacity: 0.5;
}

.search-input2 input::placeholder{
    font-family: 'Raleway';
    color: black;
    padding-left: 10px;
}

.map{
    width: 100%;
}

.main-foot{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.links{
    color: white;
}

.address{
    color: white;
}

.btn.btn-secondary.dropdown-toggle{
    padding: 5px;
}


.links{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 50px;
}

.address{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 50px;
}

.dropdown{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.end-foot{
    display: flex;
    border-top: 0.1px solid white;
    background-color: black;
    color: white;
    justify-content: center;
}

.foot{
    font-family: 'Raleway';
    margin: 10px;
}

ul{
  list-style: none;  
}

li{
    padding-bottom: 10px;
}